{% extends "base.html" %}


{% block content %}
    <div class="container">
        <div class="jumbotron">
            <font size="3">
                Данный сайт посвящен кружку Максима Лимонова и Александра Антропова в рамках <a
                    href="http://mmmf.msu.ru/">малого
                мехмата</a>.

                Кружок посвящён изучению математики. Наши цели:
                <ul class="markdown-toc">
                    <li>
                        показать, что математика интересна и, в некотором смысле, прекрасна (правда второе будет
                        показываться через призму наших вкусов в математике);
                    </li>
                    <li>привлечь детей к математическому сообществу школьников (не только московскому)</li>
                </ul>

                У нас нет самоцели добиться, чтобы дети участвовали и побеждали на всевозможных олимпиадах. Несмотря на
                это, команды от нашего кружка принимают на участие в разных турнирах(<a
                    href="http://cdoosh.ru/ural/ural.html">"Уральский
                турнир юных математиков"</a>, <a href="http://olympiads.mccme.ru/regata/">"Математическая регата"</a>,
                <a href="http://www.mathschool.ru/page/228.html">"Математическое многоборье"</a> и д.р.)


                Данный кружок начал свою работу с 2008 года. С этого момента было выпущено две параллели детей.
                Посмотреть, чем мы занимались, можно посмотреть в архиве. Теперь мы взялись за третью. Что именно
                получится - никому неизвестно. Что хочется: хочется, чтобы достаточно большое количество детей
                продолжило с нами заниматься до 11-го класса, хочется свозить детей в течении этих лет на разные
                турниры, в летние школы, чтобы по окончании кружка дети поддерживали друг с другом отношения. Не со
                всеми это получится, но попытаемся с каждым.

                <p></p>Со временем на данном сайте появятся новые разделы, так что рекомендуем иногда сюда заглядывать.
            </font>

        </div>
    </div>
{% endblock %}