<table class="table">
 <tbody>
<tr>
<td>
<a href="/archive/2013-2014/01Площади+.pdf">Площади+</a>(<a href="/archive/2013-2014/01Площади+.tex">tex</a>)

</td>

<td>
<a href="/archive/2013-2014/08Вписанный угол.pdf">Вписанный угол</a>(<a href="/archive/2013-2014/08Вписанный угол.tex">tex</a>)

</td>

<td>
<a href="/archive/2013-2014/17Подобие.pdf">Подобие</a>(<a href="/archive/2013-2014/17Подобие.tex">tex</a>)

</td>

</tr>
<tr>
<td>
<a href="/archive/2013-2014/01Площади.pdf">Площади</a>(<a href="/archive/2013-2014/01Площади.tex">tex</a>)

</td>

<td>
<a href="/archive/2013-2014/08Разнобой.pdf">Разнобой</a>(<a href="/archive/2013-2014/08Разнобой.tex">tex</a>)

</td>

<td>
<a href="/archive/2013-2014/18_Периодичность.pdf">_Периодичность</a>(<a href="/archive/2013-2014/18_Периодичность.tex">tex</a>)

</td>

</tr>
<tr>
<td>
<a href="/archive/2013-2014/01Разнобой.pdf">Разнобой</a>(<a href="/archive/2013-2014/01Разнобой.tex">tex</a>)

</td>

<td>
<a href="/archive/2013-2014/09Вписанные углы.pdf">Вписанные углы</a>(<a href="/archive/2013-2014/09Вписанные углы.tex">tex</a>)

</td>

<td>
<a href="/archive/2013-2014/18Неравенства.pdf">Неравенства</a>(<a href="/archive/2013-2014/18Неравенства.tex">tex</a>)

</td>

</tr>
<tr>
<td>
<a href="/archive/2013-2014/02ДопПостроения.pdf">ДопПостроения</a>(<a href="/archive/2013-2014/02ДопПостроения.tex">tex</a>)

</td>

<td>
<a href="/archive/2013-2014/09Разнобой.pdf">Разнобой</a>(<a href="/archive/2013-2014/09Разнобой.tex">tex</a>)

</td>

<td>
<a href="/archive/2013-2014/19клетчатые задачи.pdf">клетчатые задачи</a>(<a href="/archive/2013-2014/19клетчатые задачи.tex">tex</a>)

</td>

</tr>
<tr>
<td>
<a href="/archive/2013-2014/02Подобиие.pdf">Подобиие</a>(<a href="/archive/2013-2014/02Подобиие.tex">tex</a>)

</td>

<td>
<a href="/archive/2013-2014/10ОТа и ко.pdf">ОТа и ко</a>(<a href="/archive/2013-2014/10ОТа и ко.tex">tex</a>)

</td>

<td>
<a href="/archive/2013-2014/21 Перестановки.pdf"> Перестановки</a>(<a href="/archive/2013-2014/21 Перестановки.tex">tex</a>)

</td>

</tr>
<tr>
<td>
<a href="/archive/2013-2014/02Разная геометрия.pdf">Разная геометрия</a>(<a href="/archive/2013-2014/02Разная геометрия.tex">tex</a>)

</td>

<td>
<a href="/archive/2013-2014/10Чередующиеся цепи.pdf">Чередующиеся цепи</a>(<a href="/archive/2013-2014/10Чередующиеся цепи.tex">tex</a>)

</td>

<td>
<a href="/archive/2013-2014/21Перестановки.pdf">Перестановки</a>(<a href="/archive/2013-2014/21Перестановки.tex">tex</a>)

</td>

</tr>
<tr>
<td>
<a href="/archive/2013-2014/02Разнобой.pdf">Разнобой</a>(<a href="/archive/2013-2014/02Разнобой.tex">tex</a>)

</td>

<td>
<a href="/archive/2013-2014/11Варьирование.pdf">Варьирование</a>(<a href="/archive/2013-2014/11Варьирование.tex">tex</a>)

</td>

<td>
<a href="/archive/2013-2014/22Игры.pdf">Игры</a>(<a href="/archive/2013-2014/22Игры.tex">tex</a>)

</td>

</tr>
<tr>
<td>
<a href="/archive/2013-2014/03Разнобой.pdf">Разнобой</a>(<a href="/archive/2013-2014/03Разнобой.tex">tex</a>)

</td>

<td>
<a href="/archive/2013-2014/11неравенства.pdf">неравенства</a>(<a href="/archive/2013-2014/11неравенства.tex">tex</a>)

</td>

<td>
<a href="/archive/2013-2014/22Неравенства.pdf">Неравенства</a>(<a href="/archive/2013-2014/22Неравенства.tex">tex</a>)

</td>

</tr>
<tr>
<td>
<a href="/archive/2013-2014/04Комбигем.pdf">Комбигем</a>(<a href="/archive/2013-2014/04Комбигем.tex">tex</a>)

</td>

<td>
<a href="/archive/2013-2014/11Ота и около неё.pdf">Ота и около неё</a>(<a href="/archive/2013-2014/11Ота и около неё.tex">tex</a>)

</td>

<td>
<a href="/archive/2013-2014/22Перестановки, чётность.pdf">Перестановки, чётность</a>(<a href="/archive/2013-2014/22Перестановки, чётность.tex">tex</a>)

</td>

</tr>
<tr>
<td>
<a href="/archive/2013-2014/04прогрессии и целая часть.pdf">прогрессии и целая часть</a>(<a href="/archive/2013-2014/04прогрессии и целая часть.tex">tex</a>)

</td>

<td>
<a href="/archive/2013-2014/12Графы.pdf">Графы</a>(<a href="/archive/2013-2014/12Графы.tex">tex</a>)

</td>

<td>
<a href="/archive/2013-2014/23Кв трёхчлен.pdf">Кв трёхчлен</a>(<a href="/archive/2013-2014/23Кв трёхчлен.tex">tex</a>)

</td>

</tr>
<tr>
<td>
<a href="/archive/2013-2014/05Разнобой.pdf">Разнобой</a>(<a href="/archive/2013-2014/05Разнобой.tex">tex</a>)

</td>

<td>
<a href="/archive/2013-2014/12комба.pdf">комба</a>(<a href="/archive/2013-2014/12комба.tex">tex</a>)

</td>

<td>
<a href="/archive/2013-2014/24Гомотетия.pdf">Гомотетия</a>(<a href="/archive/2013-2014/24Гомотетия.tex">tex</a>)

</td>

</tr>
<tr>
<td>
<a href="/archive/2013-2014/06Прогресссии и части.pdf">Прогресссии и части</a>(<a href="/archive/2013-2014/06Прогресссии и части.tex">tex</a>)

</td>

<td>
<a href="/archive/2013-2014/12Чева и Менелай.pdf">Чева и Менелай</a>(<a href="/archive/2013-2014/12Чева и Менелай.tex">tex</a>)

</td>

<td>
<a href="/archive/2013-2014/24Квадратичный вычет.pdf">Квадратичный вычет</a>(<a href="/archive/2013-2014/24Квадратичный вычет.tex">tex</a>)

</td>

</tr>
<tr>
<td>
<a href="/archive/2013-2014/06Разнобой.pdf">Разнобой</a>(<a href="/archive/2013-2014/06Разнобой.tex">tex</a>)

</td>

<td>
<a href="/archive/2013-2014/14ТЧ.pdf">ТЧ</a>(<a href="/archive/2013-2014/14ТЧ.tex">tex</a>)

</td>

<td>
<a href="/archive/2013-2014/25Гомотетия, добавка.pdf">Гомотетия, добавка</a>(<a href="/archive/2013-2014/25Гомотетия, добавка.tex">tex</a>)

</td>

</tr>
<tr>
<td>
<a href="/archive/2013-2014/07Перед многборьем геом.pdf">Перед многборьем геом</a>(<a href="/archive/2013-2014/07Перед многборьем геом.tex">tex</a>)

</td>

<td>
<a href="/archive/2013-2014/15Целочисленные координаты.pdf">Целочисленные координаты</a>(<a href="/archive/2013-2014/15Целочисленные координаты.tex">tex</a>)

</td>

<td>
<a href="/archive/2013-2014/26Возвращение чередующихся цепей.pdf">Возвращение чередующихся цепей</a>(<a href="/archive/2013-2014/26Возвращение чередующихся цепей.tex">tex</a>)

</td>

</tr>
<tr>
<td>
<a href="/archive/2013-2014/07Перед многоборьем алгебра.pdf">Перед многоборьем алгебра</a>(<a href="/archive/2013-2014/07Перед многоборьем алгебра.tex">tex</a>)

</td>

<td>
<a href="/archive/2013-2014/16Отображения, добавка.pdf">Отображения, добавка</a>(<a href="/archive/2013-2014/16Отображения, добавка.tex">tex</a>)

</td>

<td>

</td>

</tr>
<tr>
<td>
<a href="/archive/2013-2014/07Перед многоборьем комба.pdf">Перед многоборьем комба</a>(<a href="/archive/2013-2014/07Перед многоборьем комба.tex">tex</a>)

</td>

<td>
<a href="/archive/2013-2014/16Отображения.pdf">Отображения</a>(<a href="/archive/2013-2014/16Отображения.tex">tex</a>)

</td>

<td>

</td>

</tr> </tbody>
</table>