<table class="table">
 <tbody>
<tr>
<td>
<a href="/archive/2012-2013/01_числа_Фиббоначи_и_ко.pdf">числа_Фиббоначи_и_ко</a>(<a href="/archive/2012-2013/01_числа_Фиббоначи_и_ко.tex">tex</a>)

</td>

<td>
<a href="/archive/2012-2013/06_kontr.pdf">kontr</a>(<a href="/archive/2012-2013/06_kontr.tex">tex</a>)

</td>

<td>
<a href="/archive/2012-2013/12_Теория чисел.pdf">Теория чисел</a>(<a href="/archive/2012-2013/12_Теория чисел.tex">tex</a>)

</td>

</tr>
<tr>
<td>
<a href="/archive/2012-2013/02_dop.pdf">dop</a>(<a href="/archive/2012-2013/02_dop.tex">tex</a>)

</td>

<td>
<a href="/archive/2012-2013/07_doreshka.pdf">doreshka</a>(<a href="/archive/2012-2013/07_doreshka.tex">tex</a>)

</td>

<td>
<a href="/archive/2012-2013/13_doreshka.pdf">doreshka</a>(<a href="/archive/2012-2013/13_doreshka.tex">tex</a>)

</td>

</tr>
<tr>
<td>
<a href="/archive/2012-2013/02_остатки.pdf">остатки</a>(<a href="/archive/2012-2013/02_остатки.tex">tex</a>)

</td>

<td>
<a href="/archive/2012-2013/08_алгоритм_евклида.pdf">алгоритм_евклида</a>(<a href="/archive/2012-2013/08_алгоритм_евклида.tex">tex</a>)

</td>

<td>
<a href="/archive/2012-2013/13_Бесконечность.pdf">Бесконечность</a>(<a href="/archive/2012-2013/13_Бесконечность.tex">tex</a>)

</td>

</tr>
<tr>
<td>
<a href="/archive/2012-2013/03_dop.pdf">dop</a>(<a href="/archive/2012-2013/03_dop.tex">tex</a>)

</td>

<td>
<a href="/archive/2012-2013/09_nod.pdf">nod</a>(<a href="/archive/2012-2013/09_nod.tex">tex</a>)

</td>

<td>
<a href="/archive/2012-2013/15_зацикливание.pdf">зацикливание</a>(<a href="/archive/2012-2013/15_зацикливание.tex">tex</a>)

</td>

</tr>
<tr>
<td>
<a href="/archive/2012-2013/03_Геом.pdf">Геом</a>(<a href="/archive/2012-2013/03_Геом.tex">tex</a>)

</td>

<td>
<a href="/archive/2012-2013/10_индукция.pdf">индукция</a>(<a href="/archive/2012-2013/10_индукция.tex">tex</a>)

</td>

<td>
<a href="/archive/2012-2013/15_мно.pdf">мно</a>(<a href="/archive/2012-2013/15_мно.tex">tex</a>)

</td>

</tr>
<tr>
<td>
<a href="/archive/2012-2013/04_последовательное_конструирование.pdf">последовательное_конструирование</a>(<a href="/archive/2012-2013/04_последовательное_конструирование.tex">tex</a>)

</td>

<td>
<a href="/archive/2012-2013/11_ГМТ.pdf">ГМТ</a>(<a href="/archive/2012-2013/11_ГМТ.tex">tex</a>)

</td>

<td>
<a href="/archive/2012-2013/15_тч.pdf">тч</a>(<a href="/archive/2012-2013/15_тч.tex">tex</a>)

</td>

</tr>
<tr>
<td>
<a href="/archive/2012-2013/05_Geo_doreshka.pdf">Geo_doreshka</a>(<a href="/archive/2012-2013/05_Geo_doreshka.tex">tex</a>)

</td>

<td>
<a href="/archive/2012-2013/11_сравнения.pdf">сравнения</a>(<a href="/archive/2012-2013/11_сравнения.tex">tex</a>)

</td>

<td>
<a href="/archive/2012-2013/16_графы_планар.pdf">графы_планар</a>(<a href="/archive/2012-2013/16_графы_планар.tex">tex</a>)

</td>

</tr>
<tr>
<td>
<a href="/archive/2012-2013/06_dobavka.pdf">dobavka</a>(<a href="/archive/2012-2013/06_dobavka.tex">tex</a>)

</td>

<td>
<a href="/archive/2012-2013/12_ГМТ_ПАСКАЛЬ.pdf">ГМТ_ПАСКАЛЬ</a>(<a href="/archive/2012-2013/12_ГМТ_ПАСКАЛЬ.tex">tex</a>)

</td>

<td>
<a href="/archive/2012-2013/17_последнее.pdf">последнее</a>(<a href="/archive/2012-2013/17_последнее.tex">tex</a>)

</td>

</tr> </tbody>
</table>