<table class="table">
 <tbody>
<tr>
<td>
<a href="/archive/2018-2019/01 вспомнить всё.pdf">01 вспомнить всё</a>(<a href="/archive/2018-2019/01 вспомнить всё.tex">tex</a>)

</td>

<td>
<a href="/archive/2018-2019/11 с новым годом.pdf">11 с новым годом</a>(<a href="/archive/2018-2019/11 с новым годом.tex">tex</a>)

</td>

<td>
<a href="/archive/2018-2019/profi_2.pdf">profi_2</a>(<a href="/archive/2018-2019/profi_2.tex">tex</a>)

</td>

</tr>
<tr>
<td>
<a href="/archive/2018-2019/02 все в сборе.pdf">02 все в сборе</a>(<a href="/archive/2018-2019/02 все в сборе.tex">tex</a>)

</td>

<td>
<a href="/archive/2018-2019/12 формула, где формула.pdf">12 формула, где формула</a>(<a href="/archive/2018-2019/12 формула, где формула.tex">tex</a>)

</td>

<td>
<a href="/archive/2018-2019/profi_3.pdf">profi_3</a>(<a href="/archive/2018-2019/profi_3.tex">tex</a>)

</td>

</tr>
<tr>
<td>
<a href="/archive/2018-2019/03 делимость набирает обороты.pdf">03 делимость набирает обороты</a>(<a href="/archive/2018-2019/03 делимость набирает обороты.tex">tex</a>)

</td>

<td>
<a href="/archive/2018-2019/13 магический листик.pdf">13 магический листик</a>(<a href="/archive/2018-2019/13 магический листик.tex">tex</a>)

</td>

<td>
<a href="/archive/2018-2019/profi_4.pdf">profi_4</a>(<a href="/archive/2018-2019/profi_4.tex">tex</a>)

</td>

</tr>
<tr>
<td>
<a href="/archive/2018-2019/04 общие делители.pdf">04 общие делители</a>(<a href="/archive/2018-2019/04 общие делители.tex">tex</a>)

</td>

<td>
<a href="/archive/2018-2019/14 праздники закончились, пора учиться.pdf">14 праздники закончились, пора учиться</a>(<a href="/archive/2018-2019/14 праздники закончились, пора учиться.tex">tex</a>)

</td>

<td>
<a href="/archive/2018-2019/profi_5.pdf">profi_5</a>(<a href="/archive/2018-2019/profi_5.tex">tex</a>)

</td>

</tr>
<tr>
<td>
<a href="/archive/2018-2019/05 остатки сладки.pdf">05 остатки сладки</a>(<a href="/archive/2018-2019/05 остатки сладки.tex">tex</a>)

</td>

<td>
<a href="/archive/2018-2019/15 постоянство - признак мастерства.pdf">15 постоянство - признак мастерства</a>(<a href="/archive/2018-2019/15 постоянство - признак мастерства.tex">tex</a>)

</td>

<td>
<a href="/archive/2018-2019/profi_6.pdf">profi_6</a>(<a href="/archive/2018-2019/profi_6.tex">tex</a>)

</td>

</tr>
<tr>
<td>
<a href="/archive/2018-2019/06 признаки равноостаточности.pdf">06 признаки равноостаточности</a>(<a href="/archive/2018-2019/06 признаки равноостаточности.tex">tex</a>)

</td>

<td>
<a href="/archive/2018-2019/16 основательный листик.pdf">16 основательный листик</a>(<a href="/archive/2018-2019/16 основательный листик.tex">tex</a>)

</td>

<td>
<a href="/archive/2018-2019/profi_7.pdf">profi_7</a>(<a href="/archive/2018-2019/profi_7.tex">tex</a>)

</td>

</tr>
<tr>
<td>
<a href="/archive/2018-2019/07 линейное разложение НОД.pdf">07 линейное разложение НОД</a>(<a href="/archive/2018-2019/07 линейное разложение НОД.tex">tex</a>)

</td>

<td>
<a href="/archive/2018-2019/17 6 апреля.pdf">17 6 апреля</a>(<a href="/archive/2018-2019/17 6 апреля.tex">tex</a>)

</td>

<td>
<a href="/archive/2018-2019/Зимняя олимпиада.pdf">Зимняя олимпиада</a>(<a href="/archive/2018-2019/Зимняя олимпиада.tex">tex</a>)

</td>

</tr>
<tr>
<td>
<a href="/archive/2018-2019/08 наконец-то c_n_k.pdf">08 наконец-то c_n_k</a>(<a href="/archive/2018-2019/08 наконец-то c_n_k.tex">tex</a>)

</td>

<td>
<a href="/archive/2018-2019/18 простота хуже воровства.pdf">18 простота хуже воровства</a>(<a href="/archive/2018-2019/18 простота хуже воровства.tex">tex</a>)

</td>

<td>
<a href="/archive/2018-2019/Осенняя олимпиада.pdf">Осенняя олимпиада</a>(<a href="/archive/2018-2019/Осенняя олимпиада.tex">tex</a>)

</td>

</tr>
<tr>
<td>
<a href="/archive/2018-2019/09 последнее осеннее.pdf">09 последнее осеннее</a>(<a href="/archive/2018-2019/09 последнее осеннее.tex">tex</a>)

</td>

<td>
<a href="/archive/2018-2019/19 большой листик.pdf">19 большой листик</a>(<a href="/archive/2018-2019/19 большой листик.tex">tex</a>)

</td>

<td>

</td>

</tr>
<tr>
<td>
<a href="/archive/2018-2019/10 первое зимнее.pdf">10 первое зимнее</a>(<a href="/archive/2018-2019/10 первое зимнее.tex">tex</a>)

</td>

<td>
<a href="/archive/2018-2019/profi_1.pdf">profi_1</a>(<a href="/archive/2018-2019/profi_1.tex">tex</a>)

</td>

<td>

</td>

</tr> </tbody>
</table>