{% extends "base.html" %}


{% block content %}
    <div class="container">
        <h2>Кружок Антропова и Лимонова на малом мехмате<br></h2>
        <font size="3">
                В этом году мы занимаемся с 6-ым классом, материалы предыдущих лет можно посмотреть в архиве.
            Занятия кружка проходят по субботам на <a href="http://mmmf.msu.ru/"> малом мехмате </a>  во втором ГУМе,
            аудитория 449. Они проходят в две смены, первая начинается в 15:00, вторая в 16:45.
        </font>

    </div>
{% endblock %}