{% extends "base.html" %}


{% block content %}
    <table class="table table-bordered table-striped table-hover" id="tabelLists">
    <tr>
        <th>Список занятий</th>
        <th>Описание</th>

    </tr>
    <tr>
        <td>
            {% include 'list_lessons.html' %}
        </td>
        <td>
            Занятия проходят в ГЗ МГУ по субботам  с 16 до 20 (в теории это два занятия по 2 часа, а там как пойдёт). Ведут занятия Антропов Александр Владимирович и
            Лимонов Максим Амирьянович. Занятия предназначены для школьников с богатым кружковым и олимпиадным опытом, которые много чему уже в математике научились. Такие понятия, как комплесное число,
            производная, сравнения по модулю, непрерывность и многие другие считаются уже известными, поэтому предпочтителены школьники 11-го класса и продвинутые школьники 10-го.
            Направления нашей деятельности отчасти олимпиадное, отчасти  мы занимаемся математикой близкой к тому, чем занимаются серьёзные дядьки,
            но доступной для продвинутого школьника.
            <br>
            В этом году планируется ознакомится со следующими темами:
            <ul>
                <li> Ориентированные площади и линейность в геометрии</li>
                <li> Интегрирование функций и "среднее значение" функции</li>
                <li> Окружности Аполлония и их связь с геометрией треугольника</li>
                <li> Конечные расширения полей</li>
                <li> Алгебраические методы в геометрии, доказательство теоремы Паскаля и т.п.</li>
                <li> Рекурренты в графах, хроматический многочлен</li>
                <li> Идеалы в кольце многочленов</li>
                <li> Неравенства Йенсена и Караматы</li>
                <li> Теорема Эрдёша-Радо и смежные вещи</li>
                <li> Приближение алгебраических чисел, иррациональность, трансцендентность</li>
                <li> Элементы теории вероятности</li>
            </ul>
            Будет что-то ещё, может чего-то из этого не быть, как получится.
        </td>

    </tr>
</table>
{% endblock %}