{% extends "base.html" %}


{% block content %}
    <div class="container">
        <table class="table table-bordered table-striped table-hover" id="tabelLists">
            <tr>
                <th>Список занятий</th>
                <th>Описание</th>

            </tr>
            <tr>
                <td>
                    {% include 'list_lessons.html' %}
                </td>
                <td>
                    <p> Занятия проходят во втором ГУМе по субботам в аудитории 447 в две смены, первая смена начинается
                        в 15-00, вторая в 16-45. Ведут их Антропов Александр Владимирович и Лимонов Максим Амирьянович
                        (и ещё несколько наших друзей, которые нам с этим помогают). Для участия в работе кружка не
                        требуется предварительных знаний, но требуется желание заниматься математикой, иметь мозги, быть
                        любознательным и т.п.</p>
                    <p> Занятия у нас построены следующим образом. В конце занятия выдаётся листочек, который ребёнок
                        должен прорешать дома. Первую часть следующего занятия ученик может сдать все решённые им задачи
                        и что-то дорешать. После этого происходит разбор большинства задач и снова выдаётся листочек.
                        Иногда формат занятий может меняться.</p>
                    <p> Обычно листик не будет посвящён одной конкретной теме, мы будем стараться изучать сразу
                        несколько тем. Поэтому особенно важно внимательно слушать разбор задач, чтобы, если задача не
                        получилась сейчас, задача на данную тему решилась в следующем листике.
                    </p>
                </td>

            </tr>
        </table>
    </div>
{% endblock %}