<div class="form-group">
    <a href="/lessons/07_p" class="btn btn btn-link">09.11 Встречайте, Геометрия</a>
</div>
<div class="form-group">
    <a href="/lessons/07" class="btn btn btn-link">09.11 Связанные одной целью, скованные одной цепью</a>
</div>
<div class="form-group">
    <a href="/lessons/06_p" class="btn btn btn-link">02.11 Индукция-2</a>
</div>
<div class="form-group">
    <a href="/lessons/06" class="btn btn btn-link">02.11 Графы - это не только пафосное звание</a>
</div>
<div class="form-group">
    <a href="/lessons/05_p" class="btn btn btn-link">26.10 Индукция</a>
</div>
<div class="form-group">
    <a href="/lessons/05" class="btn btn btn-link">26.10 Смотря как посчитать</a>
</div>
<div class="form-group">
    <a href="/lessons/04_p" class="btn btn btn-link">19.10 Добавочка</a>
</div>
<div class="form-group">
    <a href="/lessons/04" class="btn btn btn-link">19.10 Ну может, теперь сравним</a>
</div>
<div class="form-group">
    <a href="/lessons/03_p" class="btn btn btn-link">12.10 Последовательное конструирование</a>
</div>
<div class="form-group">
    <a href="/lessons/03" class="btn btn btn-link">12.10 На крайний случай</a>
</div>
<div class="form-group">
    <a href="/lessons/02_p" class="btn btn btn-link">05.10 Дискректная непрерывность и ко</a>
</div>
<div class="form-group">
    <a href="/lessons/02" class="btn btn btn-link">05.10 Сравним</a>
</div>
<div class="form-group">
    <a href="/lessons/01_p" class="btn btn btn-link">28.09 Вспомнить всё+</a>
</div>
<div class="form-group">
    <a href="/lessons/01" class="btn btn btn-link">28.09 Вспомнить всё</a>
</div>