
     <div class="form-group">
 <a href="/lessons/01_apollonian_circles" class="btn btn btn-link">17.09 Вокруг окружностей Аполлония в треугольнике</a>
     </div>
     <div class="form-group">
 <a href="/lessons/01_razn" class="btn btn btn-link">17.09 Разнобой 1</a>
     </div>
     <div class="form-group">
 <a href="/lessons/02_razn" class="btn btn btn-link">24.09 Разнобой 2</a>
     </div>
     <div class="form-group">
 <a href="/lessons/02_recursion_graph" class="btn btn btn-link">24.09 Рекурренты в графах</a>
     </div>
     <div class="form-group">
 <a href="/lessons/03_orient_sqaure" class="btn btn btn-link">01.10 Ориентированная площадь</a>
     </div>
     <div class="form-group">
 <a href="/lessons/03_Integral_theory" class="btn btn btn-link">01.10 Интеграл, теория</a>
     </div>
     <div class="form-group">
 <a href="/lessons/04_Integral_problems" class="btn btn btn-link">08.10 Интеграл, задачи</a>
</div>
     <div class="form-group">
 <a href="/lessons/04 _linearity" class="btn btn btn-link">08.10 Линейность в геометрии</a>
     </div>

     <div class="form-group">
 <a href="/lessons/05 _linearity_dob" class="btn btn btn-link">15.10 Линейность, добавка</a>
     </div>

     <div class="form-group">
 <a href="/lessons/05_mean_value" class="btn btn btn-link">15.10 Среднее значение</a>
     </div>

     <div class="form-group">
 <a href="/lessons/06_ideal" class="btn btn btn-link">22.10 Идеалы</a>
     </div>

     <div class="form-group">
 <a href="/lessons/06_razn" class="btn btn btn-link">22.10 Разнобой</a>
     </div>

     <div class="form-group">
 <a href="/lessons/07_algebraic_geometry" class="btn btn btn-link">29.10 Разнобой</a>
     </div>

     <div class="form-group">
 <a href="/lessons/08_razn" class="btn btn btn-link">05.11 Разнобой</a>
     </div>
     <div class="form-group">
 <a href="/lessons/09_razn" class="btn btn btn-link">19.11 Разнобой</a>
     </div>

     <div class="form-group">
 <a href="/lessons/09_code_pruffer" class="btn btn btn-link">19.11 Код Прюфера</a>
     </div>
          <div class="form-group">
 <a href="/lessons/10_Finite_Field" class="btn btn btn-link">26.11 Конечные поля</a>
     </div>

               <div class="form-group">
 <a href="/lessons/10_Phase_space" class="btn btn btn-link">26.11 Фазовые пространтва</a>
     </div>
            <div class="form-group">
 <a href="/lessons/11_probabilistic" class="btn btn btn-link">03.12 Вероятностный метод</a>
     </div>
                 <div class="form-group">
 <a href="/lessons/11_probabilistic" class="btn btn btn-link">03.12 Вероятностный метод</a>
     </div>
                 <div class="form-group">
 <a href="/lessons/11_probability" class="btn btn btn-link">10.12 Вероятностный метод</a>
     </div>

                      <div class="form-group">
 <a href="/lessons/12_to_space" class="btn btn btn-link">17.12 Выход в пространство</a>
     </div>

                      <div class="form-group">
 <a href="/lessons/12_expectation" class="btn btn btn-link">17.12 Математическое ожидание</a>
     </div>