<div class="form-group">
    <a href="/lessons/intresting" class="btn btn btn-link">12.09 Интересные задачи</a>
</div>
<div class="form-group">
    <a href="/lessons/08" class="btn btn btn-link">12.02 Крокодилы зимой</a>
</div>
<div class="form-group">
    <a href="/lessons/07" class="btn btn btn-link">11.25 Седьмая</a>
</div>

<div class="form-group">
    <a href="/lessons/06" class="btn btn btn-link">11.18 Кролики и клетки</a>
</div>

<div class="form-group">
    <a href="/lessons/05" class="btn btn btn-link">11.11 И снова в бой</a>
</div>

<div class="form-group">
    <a href="/lessons/autumn_olympiad" class="btn btn btn-link">28.10 Осенняя учебная олимпиада</a>
</div>

<div class="form-group">
    <a href="/lessons/04" class="btn btn btn-link">21.10 Шахматная</a>
</div>

<div class="form-group">
    <a href="/lessons/03" class="btn btn btn-link">14.10 Дрессированный лягушонок и другие друзья Васи</a>
</div>

<div class="form-group">
    <a href="/lessons/02" class="btn btn btn-link">07.10 Хулиган Вася</a>
</div>

<div class="form-group">
    <a href="/lessons/01" class="btn btn btn-link">30.09 Понеслась</a>
</div>


