{% extends "base.html" %}


{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h3>
                24.02 53 Уральский турнир юных математиков
            </h3>
            <font size="3">
                <p>
                    С 17 по 23 февраля команда от кружка "МММФ-П1" принимала участие в "Уральском турнире юных
                    математиков", который проходил в городе Киров. Подробнее о турнире можно почитать
                    <a href="http://cdoosh.ru/ural/ural.html">здесь</a>. Наша команда в сотсаве Громовой Кирилл,
                    Личманов Михаил, Балакина Ольга, Цуканов Андрей, Евстафьев Артемий и Устименко Глеб заняла пятое
                    место в высшей лиги шестых классов.


                <div class="container">
                    <img src="/static/img/ural2019.jpg" class="img-thumbnail" alt="Последнее занятие">
                </div>
                </p>
            </font>
        </div>
        <div class="jumbotron">
            <h3>
                02.02 Продолжение занятий
            </h3>
            <font size="3">
                <p>
                    Занятия по обычному расписанию продолжаться с 9-го февраля

                </p>
            </font>
        </div>

        <div class="jumbotron">
            <h3>
                02.01 Фотографии с абаки
            </h3>
            <font size="3">
                <p>
                    Фотографии с абаки можно посмотреть <a href="https://yadi.sk/d/ezdrRkTT0tM5uw">здесь.</a>

                </p>
            </font>
        </div>

        <div class="jumbotron">
            <h3>
                01.01 Зимняя олимпиада
            </h3>
            <font size="3">
                <p>
                    Всех с новым годом! Успехов, упорства и открытий!

                </p>
                <p>
                    Наконец-то выложена зимняя олимпиада в разделе <a href="lessons">"Занятия кружка."</a>.
                    Олимпиаду нужно сдать на первом занятии в феврале или по электронной почте. Всем удачи.
                </p>
            </font>
        </div>

        <div class="jumbotron">
            <h3>
                19.12 Последнее занятие в этом году.
            </h3>
            <font size="3">
                <p>
                    В прошлую субботу состоялось последнее занятие в этом календарном году. Следующее занятие состоится
                    в начале февраля.

                </p>
                <p>
                    Зимняя олимипиада будет выложена через некоторое время на сайте.
                </p>
            </font>
        </div>

        <div class="jumbotron">
            <h3>
                21.10 Занятия 03.11 отменяются
            </h3>
            <font size="3">
                <p>
                    Занятия 03.11 отменяются.
                </p>
            </font>
        </div>

        <div class="jumbotron">
            <h3>
                28.09 Переезд в другую аудиторию
            </h3>
            <font size="3">
                <p>
                    Смена аудитории. Теперь мы занимаемся в аудитории П1 на втором этаже.
                </p>
            </font>
        </div>

        <div class="jumbotron">
            <h3>
                15.09 Аудитория и пропуска
            </h3>
            <font size="3">
                <p>
                    В новом году мы будем заниматься в аудитории П1. Для прохода на занятия планируется сделать
                    пропуска детям. В связи с этим, желающие посещать занятия должнв принести фоторафию 3 на 4, НЕ
                    ГЛЯНЦЕВУЮ.
                </p>
            </font>
        </div>
        <div class="jumbotron">
            <h3>
                10.09 Начало зантий
            </h3>
            <font size="3">
                <p>
                    Занятия начинаются с 15-го августа.
                </p>
            </font>
        </div>

        <div class="jumbotron">

            <h3>
                03.09 Новый учебный год
            </h3>
            <font size="3">
                <p>
                    В новом учебном году наш кружок продолжает свою работу, но уже для 6-го класса. Пока неизвестно
                    расписание малого мехмата и в какой аудитории мы будем заниматься. Следите за новостями.
                </p>
                <p>
                    Всех тех, кто занимался у нас в прошлом году и кто хочет ходить к нам на кружок, мы будем рады
                    видеть снова. Несмотря на вступительную работу на малом мехмате, мы постараемся забрать всех детей,
                    кто уже к нам ходил в нашу аудиторию.
                </p>
            </font>
        </div>

        <div class="jumbotron">

            <h3>
                05.12 Результаты олимпиады
            </h3>
            <font size="3">
                <p>
                    Результаты весенней олимпиады.
                </p>
                <p>
                    Дипломами первой степени награждаются Цуканов Андрей.
                </p>
                <p>
                    Дипломами второй степени награждаются Матюпатенко Максим.
                </p>
                <p>
                    Дипломами третьей степени награждаются Ильина Марина, Служак Григорий, Личманов Михаил.
                </p>
            </font>
        </div>
        <div class="jumbotron">

            <h3>
                04.21 Весенняя учебная олимпиада
            </h3>
            <font size="3">
                <p>
                    Условия олимпиады можно найти в разделе <a href=".lessons">"Занятия кружка."</a>
                    Олимпиада письменная, срок сдачи 5 мая (если по каким-то причинам вы не можете присутствовать
                    5-го,
                    то работу можно выслать на почту по адресу matemaks@ya.ru.
                </p>

            </font>
        </div>
        <div class="jumbotron">

            <h3>
                04.21 Занятия в мае
            </h3>
            <font size="3">
                Занятия в мае будут проходить 5 и 12 мая, 28-го апреля занятий не будет.
            </font>
        </div>
        <div class="jumbotron">

            <h3>
                03.03 Результаты олимпиады
            </h3>
            <font size="3">
                <p>
                    Наконец-то публикуем результаты зимней олимпиады.
                </p>
                <p>
                    Дипломами первой степени награждаются Служак Григорий.
                </p>
                <p>
                    Дипломами второй степени награждаются Евстафьев Артемий, Саакян Грант ,Цуканов Андрей.
                </p>
                <p>
                    Дипломами третьей степени награждаются Скуратник Борис.
                </p>
                <p>
                    Похвальными грамотами награждаются Платущихина Дарья, Марутян Артур, Лазарев Кирилл, Гадомская Анна.
                </p>
            </font>
        </div>
        <div class="jumbotron">

            <h3>
                10.02 Математический праздник
            </h3>
            <font size="3">
                <p>
                    <a href="http://olympiads.mccme.ru/matprazdnik/">"Математический праздник"</a> - это самое крупное
                    математическое событие в Москве для школьников 5,6 и 7-го класса. Он состоится 18 февраля,
                    принять участие могут все желающие. Подробности <a href="http://olympiads.mccme.ru/matprazdnik/">здесь</a>.
                </p>

            </font>
        </div>
        <div class="jumbotron">

            <h3>
                17.01 Начало занятий
            </h3>
            <font size="3">
                <p>
                    Занятия вновь начнутся с 10 февраля в обычном режиме.
                </p>

            </font>
        </div>
        <div class="jumbotron">

            <h3>
                16.12 зимняя учебная олимпиада
            </h3>
            <font size="3">
                <p>
                    Условия олимпиады можно найти в разделе <a href=".lessons">"Занятия кружка."</a>
                    Олимпиада письменная, срок сдачи первое занятие в феврале (если по каким-то причинам вы не можете
                    присутствовать
                    на первом занятии в новом году,
                    то работу можно выслать на почту по адресу matemaks@ya.ru.
                </p>
                <p>
                    Просьба все решения оформлять в отдельной тоненькой тетрадке более или менее аккуратно, пояcнять все
                    переходы
                    максимально подробно. Уважаемые родители, огромная просьба, это олимпиада для детей, пусть они сами
                    решают. Что у них получится, то получится, а что нет, то значит не судьба.
                </p>
            </font>
        </div>

        <div class="jumbotron">
            <h3>
                12.09 Конец занятий
            </h3>
            <font size="3">
                <p>
                    Следующее занятие, 16 декабря, последнее в этом году, в новом году занятия возобновятся в феврале.
                    Более точная информация будет доступна позже на сайте.
                </p>

            </font>
        </div>

        <div class="jumbotron">


            <h3>
                12.09 Интересные задачи
            </h3>
            <font size="3">
                <p>
                    В разделе занятий были выложены интересные задачи, которые мы уже довали, но не разобрали. Их можно
                    сдавать!
                </p>

            </font>
        </div>
        <div class="jumbotron">

            <h3>
                18.11 Результаты олимпиады
            </h3>
            <font size="3">
                <p>
                    У олимпиады должны быть результаты, поздравляем наших победителей.
                </p>
                <p>
                    Дипломами первой степени награждаются Служак Григорий, Ветчинкин Пётр, Красулина Маргарита.
                </p>
                <p>
                    Дипломами второй степени награждаются Максимов Гордей, Евстафьев Артемий.
                </p>
                <p>
                    Дипломами третьей степени награждаются Марутян Артур, Скуратник Борис, Цуканов Андрей.
                </p>
                <p>
                    Похвальными грамотами награждаются Гладкий Александр, Саакян Грант, Гадомская Анна, Телегина Алёна.
                </p>
            </font>
        </div>
        <div class="jumbotron">

            <h3>
                28.10 Осення учебная олимпиада
            </h3>
            <font size="3">
                <p>
                    Условия олимпиады можно найти в разделе <a href=".lessons">"Занятия кружка."</a>
                    Олимпиада письменная, срок сдачи 11 ноября (если по каким-то причинам вы не можете присутствовать
                    11-го,
                    то работу можно выслать на почту по адресу matemaks@ya.ru.
                </p>
                <p>
                    Просьба все решения оформлять в отдельной тоненькой тетрадке более или менее аккуратно, пояcнять все
                    переходы
                    максимально подробно. Уважаемые родители, огромная просьба, это олимпиада для детей, пусть они сами
                    решают. Что у них получится, то получится, а что нет, то значит не судьба.
                </p>
            </font>
        </div>
        <div class="jumbotron">

            <h3>
                18.10 4-го ноября занятий не будет
            </h3>
            <font size="3">
                <p>
                    В связи с государственным праздником и выходным днём, МГУ не будет функционировать и все занятия
                    малого
                    мехмата отменяются.
                </p>
            </font>
        </div>
    </div>
{% endblock %}