{% extends "base.html" %}


{% block content %}
    <div class="container">
                <div class="jumbotron">
                <h3>
                12.09 Конец занятий.
            </h3>
            <font size="3">
                <p>
                   Следующее занятие, 16 декабря, последнее в этом году,  в новом году занятия возобновятся в феврале. Более точная информация будет доступна позже на сайте.
                </p>

            </font>
                     </div>

            <div class="jumbotron">
    

            <h3>
                12.09 Интересные задачи.
            </h3>
            <font size="3">
                <p>
                    В разделе занятий были выложены интересные задачи, которые мы уже довали, но не разобрали. Их можно сдавать!
                </p>

            </font>
        </div>
        <div class="jumbotron">

            <h3>
                18.11 Результаты олимпиады.
            </h3>
            <font size="3">
                <p>
                    У олимпиады должны быть результаты, поздравляем наших победителей.
                </p>
                <p>
                    Дипломами первой степени награждаются Служак Григорий, Ветчинкин Пётр, Красулина Маргарита.
                </p>
                <p>
                    Дипломами второй степени награждаются Максимов Гордей, Евстафьев Артемий.
                </p>
                <p>
                    Дипломами третьей степени награждаются Марутян Артур, Скуратник Борис, Цуканов Андрей.
                </p>
                <p>
                    Похвальными грамотами награждаются Гладкий Александр, Саакян Грант, Гадомская Анна, Телегина Алёна.
                </p>
            </font>
        </div>
        <div class="jumbotron">

            <h3>
                28.10 Осення учебная олимпиада.
            </h3>
            <font size="3">
                <p>
                    Условия олимпиады можно найти в разделе <a href=".lessons">"Занятия кружка."</a>
                    Олимпиада письменная, срок сдачи 11 ноября (если по каким-то причинам вы не можете присутствовать
                    11-го,
                    то работу можно выслать на почту по адресу matemaks@ya.ru.
                </p>
                <p>
                    Просьба все решения оформлять в отдельной тоненькой тетрадке более или менее аккуратно, пояcнять все
                    переходы
                    максимально подробно. Уважаемые родители, огромная просьба, это олимпиада для детей, пусть они сами
                    решают. Что у них получится, то получится, а что нет, то значит не судьба.
                </p>
            </font>
        </div>
        <div class="jumbotron">

            <h3>
                18.10 4-го ноября занятий не будет.
            </h3>
            <font size="3">
                <p>
                    В связи с государственным праздником и выходным днём, МГУ не будет функционировать и все занятия
                    малого
                    мехмата отменяются.
                </p>
            </font>
        </div>
    </div>
{% endblock %}